- provide(:title, '運営会社について')

%table.table.table-bordered
  %tbody
    %tr
      %th 会社名
      %td 株式会社Presto
    %tr
      %th 代表者名
      %td XXX
    %tr
      %th サービス名称
      %td Presto World
    %tr
      %th 所在地
      %td XXX
    %tr
      %th 事業内容
      %td 家庭教師紹介
    %tr
      %th 取引銀行
      %td XXX
    %tr
      %th 問い合わせ
      %td XXX
    %tr
      %th URL
      %td https://presto-world.com
